In [11]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime

In [12]:
csv_file = "./Resources/GME_stock.csv"
GME_unfiltered_df = pd.read_csv(csv_file)
GME_unfiltered_df.head()

,date,open_price,high_price,low_price,close_price,volume,adjclose_price
0,2021-01-28,265.000000,483.000000,112.250000,193.600006,58815800.0,193.600006
1,2021-01-27,354.829987,380.000000,249.000000,347.510010,93396700.0,347.510010
2,2021-01-26,88.559998,150.000000,80.199997,147.979996,178588000.0,147.979996
3,2021-01-25,96.730003,159.179993,61.130001,76.790001,177874000.0,76.790001
4,2021-01-22,42.590000,76.760002,42.320000,65.010002,196784300.0,65.010002

In [13]:
GME_stock_df = GME_unfiltered_df[['date', 'high_price', 'low_price']].copy()
GME_stock_df.head()

         date  high_price   low_price
0  2021-01-28  483.000000  112.250000
1  2021-01-27  380.000000  249.000000
2  2021-01-26  150.000000   80.199997
3  2021-01-25  159.179993   61.130001
4  2021-01-22   76.760002   42.320000

In [15]:
csv2_file = "./Resources/reddit_wsb.csv"
Reddit_unfiltered_df = pd.read_csv(csv2_file)
Reddit_unfiltered_df.head()

,title,score,id,url,comms_num,created,body,timestamp
0,"It's not about the money, it's about sending a...",55,l6ulcx,https://v.redd.it/6j75regs72e61,6,1.611863e+09,NaN,2021-01-28 21:37:41
1,Math Professor Scott Steiner says the numbers ...,110,l6uibd,https://v.redd.it/ah50lyny62e61,23,1.611862e+09,NaN,2021-01-28 21:32:10
2,Exit the system,0,l6uhhn,https://www.reddit.com/r/wallstreetbets/commen...,47,1.611862e+09,The CEO of NASDAQ pushed to halt trading â€œto g...,2021-01-28 21:30:35
3,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,29,l6ugk6,https://sec.report/Document/0001193125-21-019848/,74,1.611862e+09,NaN,2021-01-28 21:28:57
4,"Not to distract from GME, just thought our AMC...",71,l6ufgy,https://i.redd.it/4h2sukb662e61.jpg,156,1.611862e+09,NaN,2021-01-28 21:26:56

In [16]:
Reddit_df = Reddit_unfiltered_df[['title', 'id', 'url', 'timestamp']].copy()
Reddit_df.head()

,title,id,url,timestamp
0,"It's not about the money, it's about sending a...",l6ulcx,https://v.redd.it/6j75regs72e61,2021-01-28 21:37:41
1,Math Professor Scott Steiner says the numbers ...,l6uibd,https://v.redd.it/ah50lyny62e61,2021-01-28 21:32:10
2,Exit the system,l6uhhn,https://www.reddit.com/r/wallstreetbets/commen...,2021-01-28 21:30:35
3,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,l6ugk6,https://sec.report/Document/0001193125-21-019848/,2021-01-28 21:28:57
4,"Not to distract from GME, just thought our AMC...",l6ufgy,https://i.redd.it/4h2sukb662e61.jpg,2021-01-28 21:26:56

In [17]:
Reddit_df['timestamp'] = pd.to_datetime(Reddit_df['timestamp'], infer_datetime_format= True)
Reddit_df['timestamp'] = Reddit_df['timestamp'].dt.date
Reddit_df.head()

,title,id,url,timestamp
0,"It's not about the money, it's about sending a...",l6ulcx,https://v.redd.it/6j75regs72e61,2021-01-28
1,Math Professor Scott Steiner says the numbers ...,l6uibd,https://v.redd.it/ah50lyny62e61,2021-01-28
2,Exit the system,l6uhhn,https://www.reddit.com/r/wallstreetbets/commen...,2021-01-28
3,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,l6ugk6,https://sec.report/Document/0001193125-21-019848/,2021-01-28
4,"Not to distract from GME, just thought our AMC...",l6ufgy,https://i.redd.it/4h2sukb662e61.jpg,2021-01-28

In [18]:
username = input('What is your username?: ')

What is your username?: postgres

In [19]:
password = input('What is your password?: ')

What is your password?: wnxnlvau8ar342

In [26]:
rds_connection_string = f"{username}:{password}@localhost:5432/Project2"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [27]:
engine.table_names()

[]

In [11]:
#Panda push the data into the tables in database

GME_stock_df.to_sql('GameStop', con=engine, if_exists='append', index=False)

In [12]:

#Panda push df into db

Reddit_df.to_sql('Reddit', con=engine, if_exists='append', index=False)

In [13]:
pd.read_sql_query('SELECT * FROM public."GameStop"', con=engine).head()

         date  high_price  low_price
0  2021-01-28         483        112
1  2021-01-27         380        249
2  2021-01-26         150         80
3  2021-01-25         159         61
4  2021-01-22          77         42

In [14]:
pd.read_sql_query('SELECT * FROM public."Reddit"', con=engine).head()

,title,id,url,timestamp
0,"It's not about the money, it's about sending a...",l6ulcx,https://v.redd.it/6j75regs72e61,2021-01-28
1,Math Professor Scott Steiner says the numbers ...,l6uibd,https://v.redd.it/ah50lyny62e61,2021-01-28
2,Exit the system,l6uhhn,https://www.reddit.com/r/wallstreetbets/commen...,2021-01-28
3,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,l6ugk6,https://sec.report/Document/0001193125-21-019848/,2021-01-28
4,"Not to distract from GME, just thought our AMC...",l6ufgy,https://i.redd.it/4h2sukb662e61.jpg,2021-01-28