In [1]:
import pandas as pd
from sqlalchemy import create_engine
#!pip install psycopg2

In [2]:
csv_moderna='./Resources/COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Moderna.csv'
csv_pfizer='./Resources/COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Pfizer.csv'
moderna=pd.read_csv(csv_moderna)
pfizer=pd.read_csv(csv_pfizer)

In [3]:
moderna

,Jurisdiction,Week of Allocations,1st Dose Allocations,2nd Dose Allocations
0,Connecticut,03/15/2021,35800,35800
1,Maine,03/15/2021,13700,13700
2,Massachusetts,03/15/2021,69000,69000
3,New Hampshire,03/15/2021,13700,13700
4,Rhode Island,03/15/2021,10800,10800
...,...,...,...,...
814,Virginia,12/21/2020,146400,146400
815,Washington,12/21/2020,128000,128000
816,West Virginia,12/21/2020,32600,32600
817,Wisconsin,12/21/2020,101000,101000
818,Wyoming,12/21/2020,10000,10000

In [5]:
pfizer

,Jurisdiction,Week of Allocations,1st Dose Allocations,2nd Dose Allocations
0,Connecticut,03/15/2021,49140,49140
1,Maine,03/15/2021,18720,18720
2,Massachusetts,03/15/2021,93600,93600
3,New Hampshire,03/15/2021,18720,18720
4,Rhode Island,03/15/2021,15210,15210
...,...,...,...,...
877,Virginia,12/14/2020,72150,72150
878,Washington,12/14/2020,62400,62400
879,West Virginia,12/14/2020,16575,16575
880,Wisconsin,12/14/2020,49725,49725
881,Wyoming,12/14/2020,4875,4875

In [7]:
#Connect to local database
rds_connection_string = "postgres:wnxnlvau8ar342@localhost:5432/ETL_project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [8]:
engine.table_names()

['moderna_df', 'pfizer_df']

In [9]:
#Use pandas to load csv converted Moderna DataFrame into database
moderna.to_sql(name='moderna_df', con=engine, if_exists='replace', index=False)

In [10]:
#Use pandas to load csv converted Pfizer DataFrame into database
pfizer.to_sql(name='pfizer_df', con=engine, if_exists='replace', index=False)

In [11]:
#Confirm data has been added by querying table
pd.read_sql_query('select * from public.moderna_df', con=engine)

,Jurisdiction,Week of Allocations,1st Dose Allocations,2nd Dose Allocations
0,Connecticut,03/15/2021,35800,35800
1,Maine,03/15/2021,13700,13700
2,Massachusetts,03/15/2021,69000,69000
3,New Hampshire,03/15/2021,13700,13700
4,Rhode Island,03/15/2021,10800,10800
...,...,...,...,...
814,Virginia,12/21/2020,146400,146400
815,Washington,12/21/2020,128000,128000
816,West Virginia,12/21/2020,32600,32600
817,Wisconsin,12/21/2020,101000,101000
818,Wyoming,12/21/2020,10000,10000

In [12]:
#Confirm data has been added by querying table
pd.read_sql_query('select * from public.pfizer_df', con=engine)

,Jurisdiction,Week of Allocations,1st Dose Allocations,2nd Dose Allocations
0,Connecticut,03/15/2021,49140,49140
1,Maine,03/15/2021,18720,18720
2,Massachusetts,03/15/2021,93600,93600
3,New Hampshire,03/15/2021,18720,18720
4,Rhode Island,03/15/2021,15210,15210
...,...,...,...,...
877,Virginia,12/14/2020,72150,72150
878,Washington,12/14/2020,62400,62400
879,West Virginia,12/14/2020,16575,16575
880,Wisconsin,12/14/2020,49725,49725
881,Wyoming,12/14/2020,4875,4875